---
import { Icon } from "astro-icon/components";
import Picture from "astro/components/Picture.astro";

const projects = [
  {
    id: 1,
    name_proyect: "Landing Page Corporativa",
    image: "../assets/img/projects/maria-martel-realtor.png",
    description:
      "Creamos experiencias web que se sienten tan bien como se ven. Un diseño limpio, carga rápida y una adaptación perfecta a cualquier pantalla para que tu marca destaque de forma natural en el mundo digital.",
    technologies: [
      {
        iconName: "icon_wordpress",
        label: "WordPress",
      },
      {
        iconName: "elementor",
        label: "Elementor",
      },
    ],
    buttons: [
      {
        name: "Ver Web",
        link: "https://demo.com",
        icon: "icon-link",
      },
      {
        name: "Quiero Una Igual",
        link: "https://github.com/demo",
        icon: "whatsapp-solid",
      },
    ],
  },
];

//  technologies: [
//             {
//                 iconName: "astro",
//                 label: "Astro",
//             }, {
//                 iconName: "icon_wordpress",
//                 label: "WordPress",
//             }, {
//                 iconName: "elementor",
//                 label: "Elementor",
//             },{
//                 iconName: "tailwind",
//                 label: "Tailwind",
//             },

//         ],
---

<article
  id="proyects"
  class="lg:max-w-7xl mx-auto bg-black text-white px-6 py-18 lg:pt-16"
>
  <h2 class="text-2xl font-black lg:pb-2 md:text-3xl lg:text-4xl text-center ">
    Proyectos Web que He Creado
  </h2>
  <p class="text-center text-gray-400 pb-2 md:pb-2 lg:text-2xl lg:pb-18">
    Estas páginas han sido creadas por mí para algunos de mis clientes
  </p>

  <div>
    {
      projects.map((item) => (
        <section class="flex flex-col pb-12 lg:flex-row lg:w-full lg:gap-10">
          <div class="w-full flex justify-center  lg:w-[50%] ">
            <Picture
              src="/public/images/projects/fgconsulting.png"
              alt="testimonial"
              width={50}
              height={50}
              formats={["webp"]}
              quality={80}
              loading="lazy"
              decoding="async"
              class="w-full object-contain rounded-2xl overflow-hidden h-fit"
            />
            {
              // galeria de imagenes slider en vercion movil, y pc
            }
          </div>

          <div class="w-full text-left flex flex-col justify-center gap-2 pt-3.5 lg:p-3 lg:w-[50%]">
            <h2 class="text-[20px] font-bold text-gray-300 lg:text-3xl">
              {item.name_proyect}
            </h2>

            <ul class="flex items-center flex-wrap gap-x-2">
              <li>Creada con:</li>
              {item.technologies.map((technologie) => {
                return (
                  <li>
                    <Icon name={technologie.iconName} size={16} class="" />
                    <li>{technologie.label}</li>
                  </li>
                );
              })}
            </ul>

            <p class="text-gray-400">{item.description}</p>

            <div class="flex gap-6 pt-3">
              {item.buttons.map((button) => (
                <a
                  href={button.link}
                  class="btn-project px-4 py-1.5 inline-flex gap-2 rounded text-lg"
                >
                  <span class="flex items-center ">
                    {<Icon name={button.icon} size={20} class="" />}
                  </span>
                  {button.name}
                </a>
              ))}
            </div>
          </div>
        </section>
      ))
    }
  </div>
</article>
<style>
  .btn-project:first-child {
    background-color: var(--color-brand);
  }

  .btn-project:nth-child(2) {
    padding: 0;
    border-radius: 0;
    line-height: 2;
  }

  .btn-project:nth-child(2):hover {
    box-shadow: 0 1px 0 0 rgb(255, 255, 255);
  }
</style>
